body {
    display: block;
}

header {
    height: 100px;
    border-bottom-style: solid;
    border-bottom-width: 2px;
    border-bottom-color: #cccccc;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    background-color: #ffffff;
}

#Name {
    background-color: #4aaaa5;
    height: 100px;
    float: left;
    margin-left: 120px;
    width: 250px;
}

#Name h2 {
    color: white;
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}

.topnav {
    float: right;
    margin-right: 200px;
    font-size: 20px;
    padding: 20px;
    color: #cccccc;
}

.topnav a {
    padding: 10px;
    color: #cccccc;
    text-decoration: none;
}

.topnav a:hover {
    background-color: #4aaaa5;
    font-size: 24px;
}

.midSection {
    height: 600px;
    background-image: url("../images/middle_background.png");
}

h3 {
    color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 24px;
    padding-left: 18px;
}

#contactForm {
    float: left;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    margin-left: 120px;
    width: 50%;
    margin-top: 40px;
    margin-bottom: 30px;
    background-color: #ffffff;
}

#contactForm hr {
    border-style: solid;
    border-width: 2px;
    border-color: #cccccc;
    width: 90%;
    margin-left: 18px;
}

form {
    margin-left: 18px;
    margin-top: 20px;
    margin-bottom: 10px;
}

label {
    display: block;
    width: 100%;
    padding: 5px;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 16px;
    color: #777777;
}

input {
    display: block;
    width: 70%;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    height: 20px;
}

input::placeholder {
    color: #777777;
}

select {
    color: #777777;
    width: 40%;
    background: transparent;
}

textarea {
    width: 70%;
}

input[type="submit"] {
    width: 20%;
    background: #4aaaa5;
    color: white;
    border: 0;
    box-shadow: none;
    border-radius: 0;
}

#contactMe {
    float: right;
    width: 25%;
    border-style: solid;
    border-color: #dddddd;
    border-width: 1px;
    margin-top: 40px;
    margin-right: 140px;
    height: 200px;
    background-color: #ffffff;
}

#contactMe hr {
    border-style: solid;
    border-width: 1px;
    border-color: #cccccc;
    width: 70%;
    margin-bottom: 30px;
    margin-left: 15%;
}

.anchorTags {
    width: 100%;
}

.anchor {
    width: 33.3%;
    float: left;
}

.anchor img {
    margin-left: 20%;
    height: 75px;
    width: 75px;
}

.anchor img:hover {
    -ms-transform: rotate(-20deg);
    -webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    transform: rotate (-20deg);
}

h4 {
    color: #4aaaa5;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    text-align: center;
}

hr {
    clear: both;
    border-style: solid;
    border-width: 5px;
    border-color: #4aaaa5;
    margin: 0;
}

.footer {
    clear: both;
    background-color: #666666;
    height: 80px;
    margin-bottom: auto;
}

h6 {
    color: #cccccc;
    text-align: center;
    margin: 0;
    padding: 30px;
}

@media screen and (max-width: 1090px) {
    #aboutMe {
        width: 80%;
        margin-left: 100px;
    }
    #contactMe {
        float: left;
        width: 100%;
    }
}

@media screen and (max-width: 950px) {
    .topnav {
        float: left;
    }
    #myTopnav {
        margin-left: 90px;
    }
    #aboutMe {
        hieght: 30%;
        margin-left: 50px;
    }
}

@media screen and (max-width: 640px) {
    .topnav {
        float: left;
        margin-left: 10px;
    }
}
